<container class="asc__header">
    <row>
        <columns large="6" small="6">
            <spacer size="20"></spacer>
            <p class="asc__header-text text-left">
                <a href="tel:+74957855505" target="_blank"
                >+7&nbsp;495&nbsp;785 55 05</a
                >
            </p>
        </columns>
        <columns large="6" small="6">
            <spacer size="20"></spacer>
            <p class="text-right">
                <a
                  class="asc__header-link"
                  href="https://www.ascgroup.ru/contacts/?utm_source=email&utm_term=diagnostic_offer"
                  target="_blank"
                >
                    Дилерские&nbsp;центры
                </a>
            </p>
        </columns>
    </row>

    <row>
        <columns large="4" small="4">
            <spacer size="20"></spacer>
            <a
              href="https://www.ascgroup.ru/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
                <img
                  height="42"
                  width="97"
                  alt="Ascgroup"
                  src="https://ascgroup.ru/upload/images/email/logo42.png"
                />
            </a>
        </columns>
        <columns large="8" small="8">
            <row>
                <columns large="6" small="6">
                    <spacer size="20"></spacer>
                    <p class="text-right">
                        <a
                          class="asc__header-link"
                          href="https://www.ascgroup.ru/cars/new/?utm_source=email&utm_term=diagnostic_offer"
                          target="_blank"
                        >
                            Новые автомобили
                        </a>
                    </p>
                </columns>
                <columns large="6" small="6">
                    <spacer size="20"></spacer>
                    <p class="text-right">
                        <a
                          class="asc__header-link"
                          href="https://www.ascgroup.ru/cars/used/?utm_source=email&utm_term=diagnostic_offer"
                          target="_blank"
                        >
                            Авто с пробегом
                        </a>
                    </p>
                </columns>
            </row>
            <row>
                <columns large="6" small="6">
                    <p class="text-right">
                        <a
                          class="asc__header-link"
                          href="https://www.ascgroup.ru/service/?utm_source=email&utm_term=diagnostic_offer"
                          target="_blank"
                        >
                            Сервис
                        </a>
                    </p>
                </columns>
                <columns large="6" small="6">
                    <p class="text-right">
                        <a
                          class="asc__header-link"
                          href="https://www.ascgroup.ru/atv/?utm_source=email&utm_term=diagnostic_offer"
                          target="_blank"
                        >
                            Квадроциклы
                        </a>
                    </p>
                </columns>
            </row>
        </columns>
    </row>
    <row>
        <columns>
            <hr />
        </columns>
    </row>
</container>