<container class="avd__header" style="background: #ffffff !important;">
  <row>
    <columns large="6" small="6">
      <spacer size="20"></spacer>
      <p class="avd__header-text text-left">
        <a href="tel:+74955005000" target="_blank"
        >+7 495 500 50 00</a
        >
      </p>
    </columns>
    <columns large="6" small="6">
      <spacer size="20"></spacer>
      <p class="text-right">
        <a
          class="avd__header-link"
          href="https://avtodom.ru/contacts/?utm_source=email&utm_term=diagnostic_offer"
          target="_blank"
        >
          Дилерские&nbsp;центры
        </a>
      </p>
    </columns>
  </row>

  <row>
    <columns large="4" small="12">
      <spacer size="20"></spacer>
      <a
        href="https://avtodom.ru/?utm_source=email&utm_term=diagnostic_offer"
        target="_blank"
      >
        <img
          height="42"
          width="97"
          alt="Avtodom"
          src="https://app.makemail.ru/content/c66ef2ea577df0ac83c8abe1dacf1512.png"
        />
      </a>
    </columns>
    <columns large="8" small="12">
      <row>
        <columns large="4" small="4">
          <spacer size="20"></spacer>
          <p class="text-right">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/cars/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Автомобили
            </a>
          </p>
        </columns>
        <columns large="3" small="4">
          <spacer size="20"></spacer>
          <p class="text-right">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/moto/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Мотоциклы
            </a>
          </p>
        </columns>
        <columns large="2" small="4">
          <spacer size="20"></spacer>
          <p class="text-right">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/service/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Сервис
            </a>
          </p>
        </columns>
      </row>
      <row>
        <columns large="4" small="6">
          <p class="text-right">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/jet-ski/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Гидроциклы
            </a>
          </p>
        </columns>
        <columns large="3" small="6">
          <p class="text-right">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/atv/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Квадроциклы
            </a>
          </p>
        </columns>
      </row>
    </columns>
  </row>
  <row>
    <columns>
      <hr />
    </columns>
  </row>
</container>