<container class="avd__footer">
  <row>
    <columns large="6" small="6">
      <row>
        <columns>
          <spacer size="20"></spacer>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/cars/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Автомобили
            </a>
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/moto/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Мотоциклы
            </a>
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/atv/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Квадроциклы
            </a>
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/jet-ski/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Гидроциклы
            </a>
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/service/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Сервис
            </a>
          </p>
        </columns>
      </row>
    </columns>
    <columns large="6" small="6">
      <row>
        <columns>
          <spacer size="20"></spacer>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/services/trade-in/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Трейд-ин
            </a>
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/services/credit/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Кредитование
            </a>
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/services/insurance/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Страхование
            </a>
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/actions/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Акции
            </a>
          </p>
        </columns>
      </row>
      <row>
        <columns>
          <p class="text-left">
            <a
              class="avd__header-link"
              href="https://avtodom.ru/services/subscription/?utm_source=email&utm_term=diagnostic_offer"
              target="_blank"
            >
              Авто по подписке
            </a>
          </p>
        </columns>
      </row>
    </columns>
  </row>
  <row>
    <columns>
      <hr />
    </columns>
  </row>
  <row>
    <columns large="1" small="4">
      <spacer size="20"></spacer>
      <a
        href="https://vk.com/avtodom_company/?utm_source=email&utm_term=diagnostic_offer"
        target="_blank"
      >
        <img
          height="42"
          width="42"
          alt="VK"
          src="https://app.makemail.ru/content/f5cb61e09a066af6626272df1fc7b0dd.png"
        />
      </a>
    </columns>
    <columns large="6" small="6">
      <spacer size="20"></spacer>
      <a
        href="https://www.youtube.com/channel/UCRKbRCtJRHMETvP9SOnukmQ/?utm_source=email&utm_term=diagnostic_offer"
        target="_blank"
      >
        <img
          height="42"
          width="42"
          alt="YouTube"
          src="https://app.makemail.ru/content/a991a8ef39d3558c540cc364e6802bfa.png"
        />
      </a>
    </columns>
  </row>
  <row>
    <columns>
      <spacer size="20"></spacer>
      <p class="text-left">
        <a
          class="avd__header-link"
          href="https://avtodom.ru/terms_of_use/"
          target="_blank"
        >
          Политика конфиденциальности
        </a>
      </p>
    </columns>
  </row>
  <row>
    <columns>
      <p class="avd__header-link text-left">
        Вы получили данное письмо, потому что запросили отчет диагностики с
        сайта
      </p>
      <p class="text-left">
        <a
          class="avd__header-link"
          href="https://avtodom.ru/"
          target="_blank"
        >
          https://avtodom.ru/
        </a>
      </p>
    </columns>
  </row>
  <spacer size="20"></spacer>
  <row>
    <columns>
      <p class="avd__copyright text-center">© АВТОДОМ</p>
    </columns>
  </row>
  <spacer size="20"></spacer>
</container>